<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paradorlarenta.pedidos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PedidosTheme">
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ProductosActivity"
            android:parentActivityName=".view.FiltrosActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.FiltrosActivity" />

        </activity>
        <activity
            android:name=".view.PedidosActivity"
            android:parentActivityName=".view.ProductosActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductosActivity" />
        </activity>

        <activity android:name=".view.FiltrosActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>